<div>
  <h1>Welcome to My Angular App</h1>

  <!-- Usage of custom button component -->
  <custom-button (btnClick)="onClick()">
    Click Me
  </custom-button>

  <br>

  <custom-text>

  </custom-text>

  <!-- app.component.html -->
  <custom-select [options]="myOptions" [(ngModel)]="selectedOption"></custom-select>

  <custom-check-box label="Check me"></custom-check-box>

  <custom-image
    src="assets/default.jpg"
    alt="Descriptive text for the image"
    cssClass="optional-css-class">
  </custom-image>

</div>
