<h1>Page 2</h1>

<div class="vertical">
  <custom-button (btnClick)="onClick()">Click Me</custom-button>
  <custom-text></custom-text>
  <custom-check-box label="Check me"></custom-check-box>
  <custom-select [options]="myOptions" [(ngModel)]="selectedOption"></custom-select>
</div>


<div class="horiztonal">
  <custom-button (btnClick)="onClick()">Click Me</custom-button>
  <custom-text></custom-text>
  <custom-check-box label="Check me"></custom-check-box>
  <custom-select [options]="myOptions" [(ngModel)]="selectedOption"></custom-select>
</div>
