/* You can add global styles to this file, and also import other style files */




@import "../node_modules/ag-grid-community/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-alpine.css";


.horiztonal {
  display: flex;
  flex-direction: row; /* This is the default direction */
  justify-content: flex-start; /* Align items horizontally in center */
  align-items: center; /* Align items vertically in center */
  gap: 10px;
  margin: 10px;
}

.vertical {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Align items vertically in center */
  align-items: flex-start; /* Align items horizontally in center */
  background: #f3f4f6;
  gap: 10px;
  margin: 10px;
}

